<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="BingMapApiKey"
         connectionString="ibx6Y5hXjQT5R6yzjBOM~P_SHE8bTbeggmNw4sg8n7Q~Ajd1y7B1iu2xB0gusFO1PpZ_UYwX1gGqZ67M-unuNLu9EWZlkHwYzw06OSzyxnkg"/>
  </connectionStrings>
  
</configuration>